<div class="container">
  <div>
    <input placeholder="Flickr Image Search" type="text" [(ngModel)]="keyWord" (ngModelChange)="filterPhotos()">
    <input value="<" type="button" (ngModelChange)="previousPage()">
    <input value=">" type="button" (ngModelChange)="nextPage()">
  </div>
  
  <div class="row">
    <div *ngFor="let photo of photos">
      <div class="clearfix" *ngIf="$index % 3 == 0"></div>
      <div class="col-sm-4">
          <div class="card">
              <img class="card-image" src={{photo.url}}>
              <div class="card-body">
                <div class="card-title">{{photo.title}}</div>      
            </div>
          </div>
      </div>
    </div>
  </div>
</div>